@tailwind base;
@tailwind components;
@tailwind utilities;

.sponsor-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.sponsor-group-line {
  height: .0625rem;
  display: inline-block;
  width: 100%;
  background-color: black;
}

.sponsor-group-line\:gold {
  background-image: linear-gradient(90deg, #f6993f, #ffed4a);
}

.sponsor-group-line\:community {
  background-image: linear-gradient(90deg, #f6993f, #e3342f);
}

